/* Document-wide formatting */
body {
	margin: 0;
	padding: 0;
	font-family: 'Fauna One', serif;
	font-size: 100%;
	background-color: #1F1F1F;
}

a {
	color: #66D9EF;
	text-decoration:none;
}

a:hover {
	color: #66D9EF;
	text-decoration:underline;
}

a:visited {
	color:#f92672;
}

#wrap {
	width: 80%;
	margin: auto;
	background-color: #424242;
}

/* Header section */
header {
	width: 100%;
	background-color: #424242;
	padding-top: .2em;
}

header h1 {
	font-family: 'Fauna One', serif;
	font-size: 150%;
	color: #5CBE2D;
	text-align: center;
}

header h2 {
	font-family: 'Fauna One', serif;
	font-size: 115%;
	font-style: italic;
	color: #5CBE2D;
	text-align: center;
}

/* Nav section */
nav {
	background-color: #1F1F1F;
	width: 15%;
	padding: 1em;
}

nav.navleft {
	float: left;
}

nav.navright {
	float: right;
}

nav h1 {
	font-size: 95%;
	color: #5CBE2D;
}

nav p {
	font-family: 'Fauna One', serif;
	font-size: 85%;
	color: #F8F8F8;
}

/* Article Section */
article {
	width: 59%;
	float: left;
	background-color: #424242;
	padding-top: .5em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 3em;
	font-size: 95%;
	color: #F8F8F8;
}

article h1 {
	color: #5CBE2D;
}

article h2 {
	color: #5CBE2D;
	font-size: 115%
}

/* Footer section */
footer {
	clear: both;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	font-size: 80%;
	color: #F8F8F8;
	border-top: 4em solid #1F1F1F;
}